// components/Layout.scss
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  
  &__main {
    flex: 1 0 auto;
    padding-top: 80px; // Отступ под фиксированный хедер
    
    @media (max-width: 768px) {
      padding-top: 70px;
    }
  }
}
.black{
  background-color: black;
  width: 100vh;
  height: 100vh;
}