/* Footer.css */
.footer {
  background-color: #1A1A1A;
  color: #fff;
  padding: 3rem 0 1.5rem;
  margin-top: auto;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__subtitle {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.footer__description {
  color: #aaa;
  line-height: 1.6;
}

.footer__links,
.footer__contacts {
  list-style: none;
}
.links__label {
  display: none;
}
@media (min-width: 769px) {
  .links__label
  {
    display: block;
  }
}

.footer__links li,
.footer__contacts li {
  margin-bottom: 0.5rem;
}

.footer__links a {
  color: #FAFAFA80;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__links a:hover {
  color: #667eea;
}

.footer__contacts li {
  color: #FAFAFA80;
  font-size: small;
}
.footer__contacts span {
  text-transform: uppercase;
  font-size: large;
}

.footer__button{
  text-transform: uppercase;
  border-radius: 15px;
  padding: 15px 30px;
}

.positive {
  background-color: #FAFAFA;
  color: #FAFAFA1A;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.negative {
  background-color: #FAFAFA1A;
  color: #FAFAFA;
  // border: 2px solid #667eea;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer__bottom {
  display: flex;
  text-align: center;
  padding-top: 1.5rem;
  border-top: 1px solid #333;
  color: #aaa;
  font-size: 0.875rem;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr;
    text-align: center;
  }
}